
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600&family=Sintony:wght@400;700&display=swap');



/*
font-family: 'Dosis', sans-serif;
font-family: 'Sintony', sans-serif;
*/


h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 2.188rem;
    font-weight: 500;
    line-height: 1.375rem;
  
}

@media screen and (max-width: 640px) {
    h1 {
        font-size: 1.8rem;
    }
}


