

$fontMainColor:rgba(255, 255, 255, 1);
$font-color-b: rgba(20, 20, 29, 1);
$font-color-c: rgba(54, 61, 67, 1);
$font-color-d:rgba(54, 61, 67, 1);
$font_color-e:rgba(254, 76, 141, 1);
$font-color-f:rgba(92, 99, 105, 1);
$btnBg: rgba(254, 161, 0, 1);
$gallery-bg: rgba(237, 241, 243, 1);
$heppyClient-line: rgba(215, 215, 215, 1);
$food-slider: rgba(254, 76, 141, 1);
$food-line: rgba(238, 238, 238, 1);
$resrerveBg: rgba(86, 95, 97, 1);
$sm-line:rgba(88, 84, 93, 1);
$today-special: rgba(0, 0, 0, 0.1);
$tody-special-font: rgba(105, 105, 111, 1);
$footer-main: rgba(55, 56, 68, 1);
$footer-text: rgba(173, 178, 183, 1);
$in-footer: rgba(82, 83, 94, 1);
$footer-mail: rgba(230, 233, 235, 1);
$footer-sqer1: rgba(59, 89, 152, 1); 
$footer-sqer2: rgba(85, 172, 238, 1);
$footer-sqer3: rgba(221, 75, 57, 1);
